@import "themes/app";

body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

@import "themes/default-theme";
@import "themes/contempt-theme";
@import "themes/american-theme";

